* {
    position: relative;
    font-family: Microsoft JhengHei;
}

#i18n-text {
    display: none;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

a.link-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pagination-section {

    .pagination {
        margin: 50px auto 40px;;

        .page-item {
            margin: 5px;

            a.page-link {
                color: #666;
                border-color: #FFF;
            }
            &.active {

                a.page-link {
                    background-color: $main-color;
                    border-color: $main-color;
                    color: #FFF;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1490px;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
}